body{
	width: 100%;
	background-image: url("images/pattern-background-desktop.svg");
}

.card{
	background-color: white;
	border-radius: 18px !important;
	width: 400px;
	margin: auto;
	padding-bottom: 15px;
	top: 10%;

}

.card-body{
	text-align: center;
}



.card p{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 500;
	font-size: 16px;
  color: hsl(224, 23%, 55%);
}

.AnnualPlan{
	background-color: hsl(225, 100%, 98%);
	border-radius: 20px;
	border: 1px solid #f5f7ff;
  padding: 10px 12px;
}

.AnnualPlan img{
	position: relative;
  margin-left: 15px;
}

.AnnualPlan h6{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 600;
  word-spacing: 0px;
  letter-spacing: -0.7px;
  line-height: -1.9;
  display: inline-block;
  position: relative;
   top: 4px;
   left: 18px;
}

.AnnualPlan p{
	 display: inline-block;
  position: relative;
 top: 22px;
 right: 66px;
}



.AnnualPlan a{
	text-decoration: underline;
	color: hsl(245, 75%, 52%) !important;
	display: inline-block;
	position: relative;
	top: 10px;
	left: 25px;

}

.AnnualPlan a:hover{
  color: hsl(245, 83%, 68%) !important;
}

.card a{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 900;
	color: hsl(224, 23%, 55%);
}

.card a:hover{
	color: black;
	text-decoration: none;
}

button{
	background-color: hsl(245, 75%, 52%);
	border: 1px solid hsl(245, 75%, 52%);
	border-radius: 10px !important;
	padding: 10px 35px;
	color: white;
  font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
  font-weight: 700;
justify-content: center;
}

button:hover{
	background-color: hsl(245, 83%, 68%);
	border: 1px solid hsl(245, 83%, 68%);
	border-radius: 10px !important;
}

@font-face {
  font-family: RedHatDisplay;
  src: url('font/RedHatDisplay-Regular.ttf')format('truetype');
}

