body{
	width: 100%;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(214%2c 225%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c587 C 96%2c531.2 288%2c249.4 480%2c308 C 672%2c366.6 768%2c910.2 960%2c880 C 1152%2c849.8 1344%2c301.6 1440%2c157L1440 900L0 900z' fill='rgba(224%2c 232%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.card{
	background-color: white;
	border-radius: 18px !important;
	width: 400px;
	margin: auto;
	padding-bottom: 15px;
	top: 10%;

}

.card-body{
	text-align: center;
}

.card-img-top{
	width: 360px;
	padding-top: 11px;
	margin: 1px;
}

.card h4{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 900;
	color: hsl(223, 47%, 23%);
}

.card p{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 500;
	font-size: 16px;
  color: hsl(224, 23%, 55%);
}

.AnnualPlan{
	background-color: hsl(225, 100%, 98%);
	border-radius: 20px;
	border: 1px solid #f5f7ff;
  padding: 10px 12px;
}

.AnnualPlan img{
	position: relative;
  margin-left: 15px;
}

.AnnualPlan h6{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 600;
  word-spacing: 0px;
  letter-spacing: -0.7px;
  line-height: -1.9;
  display: inline-block;
  position: relative;
   top: 4px;
   left: 18px;
}

.AnnualPlan p{
	 display: inline-block;
  position: relative;
 top: 22px;
 right: 66px;
}



.AnnualPlan a{
	text-decoration: underline;
	color: hsl(245, 75%, 52%) !important;
	display: inline-block;
	position: relative;
	top: 10px;
	left: 25px;

}

.AnnualPlan a:hover{
  color: hsl(245, 83%, 68%) !important;
}

.card a{
	font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
	font-weight: 900;
	color: hsl(224, 23%, 55%);
}

.card a:hover{
	color: black;
	text-decoration: none;
}

button{
	background-color: hsl(245, 75%, 52%);
	border: 1px solid hsl(245, 75%, 52%);
	border-radius: 10px !important;
	padding: 10px 35px;
	color: white;
  font-family:  RedHatDisplay,'RedHatDisplay',sans-serif;
  font-weight: 700;
justify-content: center;
}

button:hover{
	background-color: hsl(245, 83%, 68%);
	border: 1px solid hsl(245, 83%, 68%);
	border-radius: 10px !important;
}

@font-face {
  font-family: RedHatDisplay;
  src: url('font/RedHatDisplay-Regular.ttf')format('truetype');
}

